.container{
    display: flex;
}

.history-container{
    background-color: rgb(32, 33, 35);
    width: 250px;
    height: 100vh;
    padding: 8px;
    font-size: 14px;
    overflow: auto;

    .new-message{
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        height: 45px;
        .new{
            flex: 1;
        }
        .new-message-element    {
            display: flex;
            align-items: center;
            padding: 4px 12px;
            border: 1px solid hsla(0,0%,100%,.2);
            border-radius: 6px;
            cursor: pointer;
        }
        .plus {
            width: 14px;
            margin-right: 12px;
        }
    }
    .history{
        display: flex;
        align-items: center;
        height: 45px;
        padding: 12px;
        border-radius: 6px;
        cursor: pointer;

.fa-message{
    height: 17px;
    width: 15px;
    margin-right: 12px;
}
    }
}

.text-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    .chatgpt-container{
        position: relative;
        flex: 1;
        margin-top: 60px;
        overflow-y: auto;
        .logo {
            position: absolute;
            top: 100px;
            left: 45%;
            font-size: 35px;
            font-weight: bold;
            color: rgb(86,88,105);
            margin-top: 200px;
        }
        .chatgpt-answears {
            margin: 0 auto;
            .background{
                border-top: 1px solid rgba(32,33,35,.5);
                padding: 24px 16px;
                width: 100%;
            }
        .bot-color{
            background-color: rgba(68,70,84);
        }
            .text{
                display: flex;
                justify-content: center;
                .avatar{
                    margin-right: 25px;
                    img{
                        border-radius: 2px;
                    }
                }
                .user-text{
                    width: 650px;
                    line-height: 24px;
                }
            }
            .loading-state{
                display: flex;
                justify-content: center;
                margin-top: 50px;
            }
        }
    }
    .user-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
        
        .type-bar{
            display: flex;
            width: 780px;
            -webkit-box-shadow: 0px 0px 12px 0px rgba(40, 40, 43, 1);
            -moz-box-shadow: 0px 0px 12px 0px rgba(40, 40, 43, 1);
            box-shadow: 0px 0px 12px 0px rgba(40, 40, 43, 1);
            border-radius: 6px;
            background-color: rgb(64,65,79);
            padding: 16px;

            .user-text{
                flex: 1;
                font-size: 16px;
                height: 25px;
                display: flex;
                align-items: center;
                border: none;
                background-color: rgb(64,65,79);
                color: white;
            }          
            .submit{
                cursor: pointer;
                height: 25px;
                width: 25px;
            }
        }
    }
}

.hidden {
    display: none;
}

.history:hover {
    background-color: rgb(52,53,65);
}